body,h1,h2,h3,h4,h5,h6,form,input,ul,ol,li{margin:0;padding:0;list-style:none;}
*{font-family:"微软雅黑","宋体";color:#ccc}
a{text-decoration:none;}
img {border:none;}
/*头部导航开始*/
*{
	box-sizing:border-box;
}
.clf{
	content:"";
	display: block;
	height:0;
	line-height: 0;
	font-size: 0;
	clear: both;
}
.header{
	width: 100%;
	height: 60px;
	background: #168bd8;
	position:fixed;
	left:0;
	top:0;
	z-index: 2;
}
.nav{
	max-width:1000px;
	height: 60px;
	margin:0 auto;
	/*background: pink;*/
	/*overflow: hidden;*/
}
/*小导航*/
.min-nav{
	height:60px;
	background: pink;
	line-height: 60px;

}
.min-nav li{
	display: inline-block;
}
.min-nav-list{
	 height: 100%;
    margin: 0 auto;
    line-height: 44px;
    overflow: hidden;
    text-align: justify;
    position: relative;
    padding:0px 15px;
}
 .min-nav .min-nav-list:after {
    content: "";
    display: inline-block;
    width: 100%;
    font-size: 0;
    height: 0;
    line-height: 0;
  }
.max-nav{
	 height: 100%;
    margin: 0 auto;
    line-height: 60px;
    /*overflow: hidden;*/
    text-align: justify;
    padding:0px 15px;
    min-width:767px;

   
    /*padding:0px 15px;*/
}
 .max-nav .max-nav-list:after {
    content: "";
    display: inline-block;
    width: 100%;
    font-size: 0;
    height: 0;
    line-height: 0;
  }

.nav-left{
	display: inline-block;
	float: left;
}
.nav-left li{
	display: inline-block;

}

.nav-left-list li a{
    display: inline-block;
    padding: 0px 25px 0px;
    font-size: 15px;
    /*height: 28px;*/
    margin-top: 10px;
  
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.nav-left-list li a:hover{
	opacity: 0.8
}
.nav-right{
	display: inline-block;
	float: right;
	margin-top:10px;
	
}
.nav-right li{
	display: inline-block;
}
.nav-right li a{
	color: #fff;
	line-height: 60px;
    font-size: 12px;
    padding: 0 10px;
   
}
.nav-right li:last-child a{
	    color: #FFDA28;
}
.nav-right ul li a>i{
    background-image:url(../img/header_z_94c6de7.png);
     background-position: -88px -154px;
      display: inline-block;
    width: 32px;
    height: 25px;
    background-repeat: no-repeat;
}
/*导航响应式*/
/*大屏*/
@media screen and (min-width:767px) {

	.min-nav{
		display:none;
	}
	.nav-logo{
	display:inline-block;
	
    width: 120px;
    height: 40px;
    float: left;
    margin-top: 10px;
    background-repeat: no-repeat;
    background: url(../img/header_z_94c6de7.png) ;
   background-position: -2px 0px;
}
 .nav-left-list{
	display: block!important;
}
	
}
/*小屏*/
@media screen and (max-width:767px){

	.min-nav {
    max-width: 767px;
    height: 60px;
    
    display: block!important;
  }
 .nav-right{
 	display: none;
 }
 .nav-left li{
     display: block;
     line-height: 40px;

 } 
 .nav-left-list{
 	 display: none;


 	 
 }

 .nav-left-list li a{
   padding:0;
 	  text-align: left;
 	 
 }
 .nav-logo{
     display: none;
 }
 .nav-logo2{
	display:inline-block;
	
    width: 120px;
    height: 40px;
    float: left;
    margin-top: 10px;
    background-repeat: no-repeat;
    background: url(../img/header_z_94c6de7.png) ;
   background-position: -2px 0px;
}
  
}

/*头部导航结束*/
/*第一屏开始*/
.screen1{
		width:100%;	
		height: 100%;
		background: url(../img/bg1.jpg);
		position: relative;
		
	}
.screen1-top{
	position: absolute;
	left:0;
	top:0;
	width: 4000px;
	height: 1000px;
	animation:moveCloud 20s linear infinite;
}	
.bg-cloud1{
	
    width: 1000px;
    height: 1000px;
    float: left;
    background: url(../img/cloud_1_1d4924b.png) no-repeat;
}
.screen1-middle{
	position: absolute;
	left:0;
	top:40%;
	width: 4000px;
	height: 1000px;
	animation:moveCloud 40s linear infinite;
}	
.bg-cloud2{
	
    width: 1000px;
    height: 1000px;
    float: left;
    background: url(../img/cloud_2_a186193.png) repeat;) no-repeat;
}
.screen1-bottom{
	position: absolute;
	left:0;
	bottom:0;
	width: 4000px;
	height: 400px;
	
	animation:moveCloud 100s linear infinite;
}	
.bg-cloud3{
	
    width: 1000px;
    height: 1000px;
    float: left;

    background:url(../img/cloud_3_5ee0340.png) no-repeat
}
@keyframes moveCloud{
		100%{transform:translateX(-25%)};
	}
	.screen-footer{
		width: 100%;
		height: 126px;
		background:url(../img/bg2.jpg);
		position: absolute;
		bottom:0;
		left:0;
	}

	.screen-footer a{
	    display: block;
	    width: 30px;
	    height: 26px;
	    background: url(../img/arrow_aad9b25.png);
	    position: absolute;
	    left: 50%;
	    bottom:45px;
	    margin-left:-15px;
	    /*animation:fj 2s ease-out infinite alternate;*/
	}
	.screen-center{
		

		margin:236px auto 0px;

		position: relative;
	}
	.login{
		background: #4ebffc;
		width: 340px;
		height: 300px;
		border-radius: 5px;
		position: absolute;
		

	}
	
	.account,.token{
		width: 299px;
		height: 40px;
		background: #fff;
		overflow: hidden;
		margin: 20px auto;
	}
	.account span{
		
    width: 20px;
    height: 20px;
    margin: 12px 3px 0 10px;
    float: left;
    display: block;
    /*background-position:-124px -12px;*/
	background: url(../img/icons.png) no-repeat;

	}
	.account input{
	border: 0;
    outline: none;
    padding: 9px;
    
    float: left;

   
	}
	.zbcj{
	width: 501px;
    height: 158px;
    background: url(../img/launch_deea86c.png);
    left: 0;
    top: -210px;
	}
	.obj-light{
		position: absolute;
		top:0px;
		left: 295px;
		width: 119px;
		height: 78px;
		background: url(../img/flight_ade8ee2.png);
		animation:fj 1s ease-out infinite alternate;
	}
	@keyframes fj{
		
		100%{
			transform:translateY(15px);
		}
	}
	@keyframes jt{
		
		100%{
			transform:translateY(1px);
		}
	}
	.token{
		background:rgba(255,255,255,0);
	}
	.token input{
       width: 140px;   
       outline: none;
       padding: 9px;
       height: 40px;
       background: #fff;
       float: left;
	}
	.token img{
		opacity: 0.6;
		width: 99px;
		height: 39px;
		float: left;
		margin-left:10px;
	}
	.token a{
		display: inline-block;
		color: #fff;
		font-size: 12px;
		line-height: 40px;
	}
	.tijiao{
		
		height: 35px;
		border: 0;
	    background: #ffd850;
	    color: #5c4c12;
	    border-radius: 2px;
	    width: 299px;
	    
	    
	    display: block;
	    padding: 0 10px;
	    font-size: 18px;
	    line-height: 35px;
	   
	    text-align: center;
	    vertical-align: middle;
	    margin:30px auto 10px;
	    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
	}
	.other{
		width: 299px;
		margin: 12px 0 8px;
    	font-size: 12px;
    	color: #9dbcdb;
    	height: 19px;
    	
    	margin: 0 auto;
	}
	.other span{
		display: inline-block;
    width: 15px;
    height: 17px;
    background: url(../img/icons.png) no-repeat -203px -75px;
    margin: 2px 4px 0 0;
    float: left;
	}
	.other>a{
       color: #fff;
       font-size: 12px;
       line-height: 19px;
       float: left;
	}
	.other a:hover{
		text-decoration: underline;
	}
	.other :last-child{
		float: right;
	}
/*第一屏响应式开始*/
/*大屏*/
@media screen and (min-width: 767px){
  .screen-center{
  	max-width: 1000px;
  }
  .zbcj{
  	display: block;
  }
  .login{
  	  right:0%;
		top:5%;
  }
  
  
}
/*小屏*/
@media screen and (max-width:767px){ 
  .zbcj{
  	display: none;
  }
  .login{
  	position: absolute;
  	left:50%;
  	top:-20%;
  	margin-left:-170px;
  }
  .obj-light{
  	top:-48px;
	left:5%;
  }
}
/*第一屏响应式结束*/
/*第一屏结束*/
	.screen2{
		width:100%;	
		height: 100%;
		background: url(../img/bg2.jpg);
		position: relative;
		
	}
	.screen3{
		width:100%;	
		height: 100%;
		background: url(../img/bg-2_867b7b4.jpg);
		position: relative;
	
	}
	.screen4{
		width:100%;	
		height: 100%;
		background: url(../img/bg-3_153a003.jpg);
		position: relative;
		
	}